<!-- {{#each model.project_details as |pd|}} -->
<div class="form-group">
  <label for="feature_name">Feature Name</label>
  {{ input value=pd.feature_name class="form-control" }}
</div>
<div class="form-group">
  <label for="available_hours">Available Hours</label>
  {{ input value=pd.available_hours class="form-control" }}
</div>
<div class="form-group">
  <label for="hours_billed">Hours Billed</label>
  {{ input value=pd.hours_billed class="form-control" }}
</div>
<div class="form-group">
  <label for="amount">Amount</label>
  {{ input value=pd.amount class="form-control" }}
</div>
<!-- {{/each}} -->
